<form action ="{{ path('app_namesearch') }}" method = "post">
  <div class="search-container">
     <input type="text" placeholder="Search..." name = "crpt_Name">
     <input class="btn btn-lg btn-primary" type = "submit">
  </div>
</form>


<a href="{{ path('app_avgsearch') }}" class="nav_link">Rentable</a>


<form>
  <select name="cars" id="cars">
  {% for category in cats_Name %}
    <option value="{{ category.CatName }}">{{ category.CatName }}</option>
  {% endfor %}
  </select>
</form>
